<video autoplay loop [muted]="true">
    <source src="assets/media/backgrounds/movies/louvor.mp4" type="video/mp4">
</video>
<div class="louvor content">
    <div class="container-fluid">
      <div class="row">
          <!-- <div class="col-12 texto" [ngStyle]="{'font-size': getfont() + 'em'}"><div [innerHTML]="texto"></div></div>   -->    
          <div class="col-12 texto"><div [ngStyle]="{'font-size': fontSize + 'em', 'line-height': lineHeight + 'em'}" [innerHTML]="texto"></div></div>  
      </div>  
      <div class="row">
          <div class="logo">
              <div><img src="{{ logo }}" data-toggle="modal" (click)="showMenuLateral()" mdbRippleRadius class="mx-auto d-block" ></div>
          </div>      
      </div>
      <louvor-menu [menuLateralShow]="mostraMenuLateral" [menuLateralEnter]="mostraMenuLateralEnter" [atalhoShow]="mostraAtalho" (caretPos)="inputPosition($event)" (atualizaTexto)="charge($event,$caretPos)"></louvor-menu>    
    </div>
</div>