<div class="top-left">
    <button (click)="mostrarConfiguracoes()" data-test="general-menu-show" ><i class="fas fa-cogs"></i></button>
</div>
<div class="bottom-right">
    <i (click)="navegar('biblia')" data-test="general-menu-icon-bible" class="fas fa-book"></i>
    <i (click)="navegar('standby')" data-test="general-menu-icon-standby" class="far fa-images"></i>
    <i (click)="navegar('mensagem')" data-test="general-menu-icon-message"  class="far fa-newspaper"></i>
    <i (click)="navegar('louvor')" data-test="general-menu-icon-praise" class="fas fa-music"></i>
</div>
<div mdbModal #menuGeral="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myMenuGeralLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="menuGeral.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Configurações</h4>
      </div>
      <div class="modal-body ">
          <form class="md-form">
            <div class="file-field">
                <div class="mb-4">
                    <img *ngIf="localUrl == null" src="{{ logo }}" class="img-fluid" alt="example placeholder">
                    <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder">
                </div>
                <div class="file btn btn-mdb-color btn-rounded d-flex justify-content-center">
                  Escolher uma nova imagem
                  <input type="file" name="file" (change)="novaImagem($event)" class="imagem"/>
                </div>
            </div> 
          </form>
          <label for="exampleForm2">Api key Vagalume</label>
          <input [(ngModel)] = "tokenVagalume" data-test="general-menu-api-token" type="text" class="form-control">
      </div>
      <div class="modal-footer">
        <!-- <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="alterarImagem()" mdbWavesEffect>Close</button> -->
        <button type="button" mdbBtn color="primary" data-test="general-menu-button" class="relative waves-light" (click)="aplicarMudancas()" mdbWavesEffect>Aplicar mudanças</button>
      </div>
    </div>
  </div>
</div>