img{ 
    width: 60%;
    display: block;
    margin: auto;
    cursor: pointer;
}

div.file {
  position: relative;
  overflow: hidden;
}
input.imagem {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.top-left{
  position: fixed;
  top: 0;
  left: 0;
} 
.top-left button{
  background:none;
  border:none;
  text-shadow: black 0.1em 0.1em 0.2em;  
}
.top-left button i{
  cursor: pointer;
  color: #ffffff;
}

.bottom-right{
  position: fixed;
  bottom: 0;
  left: 0;
} 
.bottom-right i{
  background:none;
  border:none;
  text-shadow: black 0.1em 0.1em 0.2em;  
  margin: 5px;
  cursor: pointer;
  color: #ffffff;
}

