<div mdbModal #menuLateral="mdb-modal" class="modal fade right" id="menuModalLeft" tabindex="-1" role="dialog" aria-labelledby="menuLateral" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}" style="overflow-y: auto">
    <div class="modal-dialog modal-side modal-top-right" role="document">
        <div class="modal-content">
            <p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fechaMenu()">
                    <span aria-hidden="true">×</span>
                </button>
                <i *ngIf='selecionados == false' class="pointer fa fa-bookmark grey-text text-lighten-2 left" (click)="habilitaSelecionados(true)" style="padding-left:10px;"></i>                
                <i  *ngIf='selecionados' (click)="habilitaSelecionados()" class="pointer fa fa-bookmark red-text text-lighten-2 left" style="padding-left:10px;"></i>                
            </p>
            <div *ngIf="controle('menu')" class="col-md-12 menu md-form" style="overflow-y: auto">
                <br>
                <div class="row">
                    <div class="col">
                        <div *ngIf="erro?.length" class="card red">
                            <div *ngIf="erro?.length" class="card-header lighten-1 white-text">
                                {{erro}}
                            </div>
                        </div>
                    </div>
                </div>
                <input name='busca' [(ngModel)] = "busca" placeholder="Digite para buscar uma música" type="text" id="busca" (keyup)="buscar()" class="form-control" mdbActive>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-sm btn-block waves-light form-control" (click)="novaMusica()" mdbWavesEffect>Nova música</button>
                        <button *ngIf='busca?.length >= 4 && online' type="button" class="btn btn-blue-grey btn-sm btn-block waves-light form-control" (click)="buscaVagalume()" mdbWavesEffect>Buscar no vagalume</button>
                    </div>
                </div>
                <br>
                <ul class="list-group">
                   <li *ngFor="let musica of musicas; let e=odd;"  class="list-group-item">
                        <i *ngIf='musica?.selected == false || musica?.selected == null' (click)="adicionaAtalho(musica.id,musica.titulo,musica.musica)" class="fa fa-bookmark grey-text text-lighten-2"></i>
                        <i *ngIf='musica?.selected' (click)="tiraAtalho(musica.id,musica.titulo,musica.musica)" class="fa fa-bookmark red-text text-lighten-2"></i>
                        <a *ngIf='musica?.vagalume' > {{musica.titulo}}</a>
                        <i *ngIf='musica?.vagalume' (click)="editar(musica.id,musica.titulo,musica.musica,false,musica.vagalume)" class="blue-text fa fa-cloud-download pull-right"></i>
                        <a *ngIf='musica?.vagalume == null' (click)="carregaMusica(musica.titulo,musica.musica)"> {{musica.titulo}}</a>
                        <i *ngIf='musica?.vagalume == null' (click)="editar(musica.id,musica.titulo,musica.musica,musica.selected)" class="blue-text fa fa-edit pull-right"></i>
                    </li>                                        
                </ul>
                <br>                
            </div>
            <div *ngIf="controle('musica')" class="col-md-12 musica">
                <label for="titulo">Titulo:</label>
                <input name='selected' [(ngModel)] = "selected" type="hidden">
                <input name='titulo' [(ngModel)] = "titulo" type="text" id="titulo" class="form-control" mdbActive>
                <label for='texto'>Texto:</label>
                <textarea #myTextArea (keyup)="getCaretPos(myTextArea)" name="texto" rows="40" [(ngModel)] = "texto" id="texto" (keyup) = "mudaTexto()" class="form-control" mdbActive></textarea>
                <button type="button" class="btn btn-primary waves-light" (click)="salvar()" mdbWavesEffect>Salvar</button>
                <button *ngIf="this.id" type="button" class="btn btn-danger lighten-4" (click)="excluir()" mdbWavesEffect>Excluir</button>
            </div>
        </div>
    </div> 
</div>