video{
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  	background-size: cover;
  	transition: 1s opacity;	
}


.texto,.titulo{
text-align: center;
font-weight: bold;
font-family: AmaticSC;
}
.titulo{
    font-size: 6em;    
}
.logo { 
    position: absolute;
    display: table;
    vertical-align: bottom;
    width: 45%;
    bottom: 0;
    right: 0;
    padding: 20px;
    float: left;
    text-align: right;
    img{
        cursor:pointer;
        width: 100%;
    }
}

.h100{
    height: 100vh;
}