<div class="versao">{{ versao  | slice:0:-5 }}</div>

<video autoplay loop [muted]="true">
  <source src="assets/media/backgrounds/movies/default.mp4" type="video/mp4">
</video>
<div class="biblia content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 texto" [ngStyle]="{'font-size': getfont() + 'em'}">{{ texto }}</div>      
    </div>

    <div class="row">
        <div class="col endereco"><div>{{ endereco }}</div></div>
        <div class="col logo">
            <img src="{{ logo }}" data-toggle="modal" (click)="showMenu()" mdbRippleRadius class="mx-auto d-block" >
        </div>      
    </div>
    <biblia-atalho [menuShow]="mostraMenu" [atalhoShow]="mostraAtalho" [calibracaoShow]="mostraCalibracao" (mudaTexto)="carregarAtalho($event)"></biblia-atalho>
    <biblia-menu [menuShow]="mostraMenu" [atalhoShow]="mostraAtalho" (atualizaTexto)="charge(false,$event)"></biblia-menu>
    <biblia-menu-lateral [menuLateralShow]="mostraMenuLateral" [menuShow]="mostraMenu" [atalhoShow]="mostraAtalho" (atualizaTexto)="charge()"></biblia-menu-lateral>
  </div>
</div>

<div mdbModal #calibracao="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="text-center">
                <i class="fas fa-exclamation-triangle fa-2x mb-3 animated rotateIn"></i>
                <p *ngIf='!primeiraUtilizacao'>A calibração apagará qualquer configuração anterior deseja mesmo calibrar agora?</p>
                <p *ngIf='primeiraUtilizacao'>Essa é a sua primeira utilização, para melhor experiência iremos realizar a primeira calibração para o seu dispositivo, clique em calibrar e siga as instruções do canto inferior esquerdo!</p>
                <a href="javascript:void(0)" (click)="calibrar_font(true);" class="btn btn-primary waves-light">Calibrar</a>
                <a *ngIf='!primeiraUtilizacao' href="javascript:void(0)" (click)="calibrar_font(false);" class="btn btn-danger waves-light">Não Calibrar</a>
                <!-- <p>Calibrando ...</p> -->
            </div>
        </div>
    </div>
  </div>
</div>

<div mdbModal #calibrando="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-side modal-bottom-left" role="document" style="bottom: 10px; position: fixed;">
        <div class="modal-content">
            <div class="modal-body warning-color-dark badge text-white">
              <div class="text-center">
                <div style="font-size:20px"><i class="fas fa-exclamation-triangle mb-3 animated rotateIn"></i> Calibrando ...</div>
                <div>Ajuste o tamanho do texto utilizando as setas para cima e para baixo,<br>logo após pressione ENTER</div>
                <div>{{ passosCalibracao }}/6</div>
              </div>
            </div>
        </div>
    </div>
</div>
