/* You can add global styles to this file, and also import other style files */
.full{
    position: fixed;
    top: 0;
    right: 0;
  } 
  .full button{
    background:none;
    border:none;
    text-shadow: black 0.1em 0.1em 0.2em;  
  }
  .full button i{
    cursor: pointer;
    color: #ffffff;
  }